.chat {
    flex-grow: 1;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.chat-nav {
    z-index: 11;
    flex-grow: 3;
    background-color: white;
}

.chat-body {
    flex-grow: 7;
    background-color: #CFEAFF;
}

.chat-advertisment {
    flex-grow: 3;
    background-color: white;
}

.text {
    color: aliceblue;
    position: absolute;
    font-weight: 700;
    font-size: 220%;
    width: auto;
    height: auto;
    margin-left: 1%;
}

.up {
    top: 10px;
}

.down {
    top: 50px;
}

.img-rectangle-1 {
    top: 30px;
    position: absolute;
    width: 22%;
    height: auto;

}

.img-rectangle-2 {
    top: 75px;
    position: absolute;
    width: 22%;
    height: auto;
}

.button-nav {
    outline: none;
    height: 40px;
    text-align: center;
    width: 19%;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #6281BE;
    color: #6281BE;
    letter-spacing: 1px;
    text-shadow: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    position: absolute;
    margin-left: 2%;
    font-size: 15px;
}

.button-nav:hover {
    color: white;
    background: #6281BE;
}

.first {
    top: 200px;
}

.second {
    top: 270px;
}

.third {
    top: 340px;
}

.forth {
    top: 410px;
}

.fifth {
    top: 480px;
}

.sixth {
    top: 550px;
}

.seventh {
    top: 620px;
}

.eighth {
    top: 690px;
}

.chat-top {
    z-index: 10;
    position: absolute;
    background-color: #303D7F;
    height: 105px;
    width: 53.8%;
}

.chat-left {
    z-index: 10;
    position: absolute;
    background-color: #303D7F;
    height: 100%;
    width: 0.5%;
}

.chat-right {
    z-index: 10;
    position: absolute;
    background-color: #303D7F;
    height: 100%;
    width: 0.5%;
    margin-left: 53.8%;
}

.chat-down {
    z-index: 10;
    position: absolute;
    background-color: #303D7F;
    height: 70px;
    width: 53.8%;
    top: 683px;
    display: flex;
    flex-direction: row;
    padding: 0.7rem;
}

.bot-name {
    z-index: 11;
    top: 5px;
    color: aliceblue;
    position: absolute;
    font-weight: 700;
    font-size: 130%;
    width: auto;
    height: auto;
    margin-left: 22%;
}

.bot-description {
    z-index: 11;
    color: aliceblue;
    position: absolute;
    font-weight: 500;
    font-size: 130%;
    width: auto;
    height: auto;
    margin-left: 26%;
    top: 45px;
}

.bot-icon {
    z-index: 11;
    border-radius: 50%;
    position: absolute;
    height: 10%;
    width: auto;
    margin-left: 48.5%;
    top: 2%;
}

.user-input {
    width: 93%;
    border-radius: 25px;
    letter-spacing: 1px;
    padding: 2%;
    z-index: 11;
}

.button-send-message {
    z-index: 11;
    outline: none;
    height: 70.5%;
    text-align: center;
    width: 6%;
    background: #fff;
    border: 2px solid #00AAFF;
    color: #00AAFF;
    letter-spacing: 1px;
    text-shadow: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    position: absolute;
    margin-left: 2%;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 92%;
}

.button-send-message:hover {
    color: white;
    background: #00AAFF;
}

.fa-telegram {
    font-size: 200%;
}

.chat-box {
    z-index: 100;
    width: 53.2%;
    height: 76.7%;
    position: absolute;
    margin-left: 0.6%;
    margin-top: 6.8%;
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    max-height: 580px;
}

.chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

.disable-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Message Section Starts Here*/

.message {
/*    display: flex;*/
    flex-direction: row;
    margin-top: 0.2rem;
}

.message:first-child {
    margin-top: auto;
}

.message > * {
    padding: 0.2rem;
}

.message > header {
    font-weight: bold;
    min-width: 100px;
/*    max-width: 100px;*/
    flex-grow: 1;
    text-align: left;
}

.message > p {
    margin: 0;
/*    flex-grow: 5;*/
}

.message > footer {
    min-width: 60px;
    text-align: center;
}

.message-bubble-fonts {
    background: #74b9ff;
    color: #fff;
}

.message-bubble {
    padding: 10px 14px;
    /*background: #eee;*/
    background: #74b9ff;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
    align-self: end;
}

.message-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
    right: 0;
    border-left-color: #74b9ff;
    border-right: 0;
    margin-right: -20px;
}

/*Message Section Ends Here*/

/*Scroll Bar Section Starts Here*/

.chat-box::-webkit-scrollbar {
    width: 20px;
}

.chat-box::-webkit-scrollbar-track {
    background-color: #d9d9d975;
    border-radius: 100px;
}

.chat-box::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #6281be;
}

/*Scroll Bar Section Ends Here*/

/*Date Time Message Section Starts Here*/

.date-time-message {
    padding: 0px 14px;
    background: #95aabf8a;
    margin: 10px 30px;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 1s ease-in;
    align-self: center;
    min-width: 100px;
    max-height: 30px;
    color: #fff;
}

.date-time-message > p {
    min-width: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/*Date Time Message Section Ends Here*/

/*Bot Message Section Starts Here*/

.bot-message-bubble {
    padding: 10px 14px;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
    align-self: start;
}

.bot-message-bubble-fonts {
    background: #999999;
    color: #fff;
}

.bot-message {
    flex-direction: row;
}

.bot-message > header {
    font-weight: bold;
    min-width: 100px;
    flex-grow: 1;
    text-align: left;
}

.bot-message > p {
    margin: 0;
}

.bot-message > footer {
    min-width: 60px;
    text-align: center;
}

.bot-message-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
    border-left-color: #999999;
    border-right: 0;
    left: 0;
    margin-left: -20px;
    transform: scale(-1, 1);
}

/*Bot Message Section Ends Here*/