<div class="chat-body">

    <div class="message">
        <header>Anton:</header>
        <p>This is a test message</p>
        <footer>16:00</footer>
    </div>

    <div class="message">
        <header>Bob:</header>
        <p>Hello world</p>
        <footer>16:02</footer>
    </div>

    <div class="message">
        <header>Bob:</header>
        <p>Hello worldHello worldHello worldHello worldHello worldHello worldHello world</p>
        <footer>16:02</footer>
    </div>

</div>

<div class="chat-input">
    <input class="input-field" type="text">
    <button>Send</button>
</div>