<head>
    <link rel="stylesheet" href=~/css/chat.css>
</head>

<body>
    <div class="chat">
        <div class="chat-nav">

        </div>

        <div class="chat-body">

        </div>

        <div class="chat-advertisment">

        </div>
    </div>
</body>