@using ChatApplication.Models
@model LoginUser

<html>
	<head>
		<title>Login Page in HTML with CSS Code Example</title>
	</head>
	<body>
	<!-- partial:index.partial.html -->
	<div class="box-form">
		<div class="left">
			<div class="overlay">
			<h1 style="text-align: center; font-size: 50px;">Присоединяйся к ВТБ</h1>
			<h1 style="text-align: center; font-size: 50px;">Прямо Сейчас.</h1>
			<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			<p style="text-align: center;">Мы помогаем людям воплощать планы, создавая лучшие финансовые решения.</p>
			<p style="text-align: center;">ВТБ – это команда профессионалов, работающих для наших клиентов.</p>
				<span>
					<br />
					<a href="https://www.vtb.by/o-banke"><i class="fa" aria-hidden="true"></i> Сайт с информацией о нас</a>
					<a href="https://www.vtb.by/o-banke/missiya-i-cennosti#:~:text=%D0%92%D0%A2%D0%91%20%E2%80%93%20%D1%82%D0%BE%D0%BB%D1%8C%D0%BA%D0%BE%20%D0%BF%D0%BE%D0%B1%D0%B5%D0%B4%D0%B0!&text=%D0%9C%D1%8B%20%D0%B2%D0%BC%D0%B5%D1%81%D1%82%D0%B5!"><i class="fa" aria-hidden="true"></i> Наши цели и миссии</a>
				</span>
			</div>
		</div>
	
	
		<div class="right">
			<h5>Войти</h5>
			<p>Ещё нет аккаунта? <a asp-area="" asp-controller="Authentication" asp-action="CreateAccount">Создай его прямо сейчас</a>. Это займёт меньше минуты.</p>
			<form asp-controller="Authentication" asp-action="LoginIntoTheChat" method="post">
				<div class="inputs">
					<input asp-for=Nickname type="text" placeholder="Имя пользователя">
					<br>
					<input asp-for=Email type="email" placeholder="Адрес электронной почты">
					<br>
					<input asp-for=Password type="password" placeholder="Пароль">
				</div>
				<br><br><br>
				<button type="submit" style="z-index: 10000;">Войти</button>
			</form>
		</div>
	</div>
	<!-- partial -->
  
	</body>
</html>